<button mat-button [routerLink]="['/prueba']">Calificaciones </button>
<button mat-button>Reportes</button>
<button mat-button [routerLink]="['/alumnos']">Alumnos</button>
<button mat-button>Pagos</button>

<div style="margin: auto; padding: 1rem;">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="demo-position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id_alumnos_cursos}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container  matColumnDef="alumno_fk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="apellido_paterno"> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido_paterno}} {{element.apellido_materno}}</td>
          </ng-container>