<div style="
    margin: auto; 
    
    padding: 1rem;
    ">
    
    <h2 mat-dialog-title>Calificaciones {{alumno}}</h2>
    <mat-dialog-content>
        <form [formGroup]="formMaterias">
        <div *ngFor="let materia of calificaciones; let i = index">
            
            <ng-container *ngIf="materia.calificion!=null else asignar">
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <h4><strong> {{materia.nombre_Materia}}</strong></h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <mat-form-field>
                            <input  maxlength="2" [value]="materia.calificion"
                            [disabled]="true" placeholder="Calificación" matInput
                                max=10 type="number">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-2 col-md-2">
                        <button (click)="calificar(materia)" mat-raised-button>
                            <span>Editar</span>
                        </button>
                    </div>
                    
                </div>
            </ng-container>

                

            <ng-template #asignar>
                
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <h4><strong> {{materia.nombre_Materia}}</strong></h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <mat-form-field>
                            <input  maxlength="2" [value]="materia.calificion"
                            placeholder="Calificación" matInput formControlName="calificacion"
                                max=10 type="number">
                        </mat-form-field>
                    </div>
                    
                    <div class="col-12 col-sm-2 col-md-2">
                        <button (click)="calificar(materia)" mat-raised-button>
                            <span>Calificar</span>
                        </button>
                    </div>

                </div>
                
                
            </ng-template>
            
        </div>
        </form>

    </mat-dialog-content>
</div>