<h2 mat-dialog-title>Agregar Alumno</h2>
<mat-dialog-content>
    
    <mat-stepper #stepper>
        <mat-step [stepControl]="formTutor">
            
            <form [formGroup]="formTutor">
                <ng-template matStepLabel>Datos del Tutor</ng-template>

                <div class="form-field">
                    <mat-label>Nombre(s): </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="nombre_tutor" required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Apellido Paterno: </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="apellido_paterno_tutor" required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Apellido Materno: </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="apellido_materno_tutor"
                            required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Teléfono de Contacto:    </mat-label>
                    <mat-form-field>
                        <input matInput type="tel" 
                            maxlength=10
                            formControlName="telefono_tutor" required>
                        <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                </div>

                <div class="button-container">
                    <button (click)="saveTutor()" mat-button matStepperNext>Next</button>
                </div>
            </form>

        </mat-step>

        <mat-step [stepControl]="formAlumno" label="Datos del Alumno">
            <form [formGroup]="formAlumno">

                <div class="form-field">
                    <mat-label>Nombre(s): </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="nombre" required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Apellido Paterno: </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="apellido_paterno" required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Apellido Materno:</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="apellido_materno"
                            required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field >
                        <mat-label>Fecha de Nacimiento:</mat-label>
                        <input matInput [matDatepicker]="pickerEmision"  formControlName="fecha_nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="pickerEmision">
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerEmision></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Tipo de Pago</mat-label>
                        <mat-select formControlName="tipo_pago">
                            <mat-option value= 1> Efectivo - Semanal </mat-option>
                            <mat-option value= 2> Efectivo - Quincenal </mat-option>
                            <mat-option value= 3> Efectivo - Mensual </mat-option>
                            <mat-option value= 4> Pago con Tarjeta - Semanal </mat-option>
                            <mat-option value= 5> Pago con Tarjeta - Quincenal </mat-option>
                            <mat-option value= 6> Pago con Tarjeta - Mensual </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Cantidad a pagar:</mat-label>
                    <mat-form-field>
                        <span matPrefix>$ &nbsp;</span>
                        <input matInput type="number" formControlName="pago_mensual"
                            required>
                    </mat-form-field>
                </div>
                
                <div class="form-field">
                    <mat-label>Descuento (opcional):    </mat-label>
                    <mat-form-field>     
                        <input matInput type="number" max=90 formControlName="descuento">
                            <span matSuffix>%</span>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field >
                        <mat-label>Fecha de Pago:</mat-label>
                        <input matInput [matDatepicker]="pickerPago" formControlName="fecha_pago">
                        <mat-datepicker-toggle matSuffix [for]="pickerPago">
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerPago></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Tipo de Alumno</mat-label>
                        <mat-select formControlName="tipo_alumno">
                            <mat-option value= "Curso Admision"> Curso Admisión</mat-option>
                            <mat-option value= "Regularizacion"> Regularización </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Correo Electrónico:  </mat-label>
                    <mat-form-field>
                      <input matInput placeholder="correo@example.com" formControlName="correo" required>
                    </mat-form-field>
                  </div>

                 <div class="form-field">
                    <mat-label>Teléfono :    </mat-label>
                    <mat-form-field>
                        <input matInput type="tel" 
                            maxlength=10
                            formControlName="telefono" required>
                        <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Turno</mat-label>
                        <mat-select formControlName="turno">
                            <mat-option value= "Matutino"> Matutino</mat-option>
                            <mat-option value= "Vespertino"> Vespertino </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Ciclo Escolar:    </mat-label>
                    <mat-form-field>
                        <input matInput maxlength=4 formControlName="ciclo_escolar" required>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-label>Próxima Fecha de Pago:   </mat-label>
                    <mat-form-field >
                        
                        <input matInput [matDatepicker]="pickerNextPago" formControlName="proxima_fecha_pago">
                        <mat-datepicker-toggle matSuffix [for]="pickerNextPago">
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerNextPago></mat-datepicker>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button  (click)="saveAlumno()"   mat-button matStepperNext >Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Asignación de Grupo</ng-template>
            <div class="radio-button">

                <mat-radio-group formControlName="estado" aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button value="1">BUAP Matutino Grupo 1</mat-radio-button>
                    <mat-radio-button value="2">BUAP Matutino Grupo 2</mat-radio-button>
                    <mat-radio-button value="3">BUAP Matutino Grupo 3</mat-radio-button>
                    <mat-radio-button value="4">UNAM Matutino Grupo 1</mat-radio-button>
                    <mat-radio-button value="5">UNAM Matutino Grupo 2</mat-radio-button>
                    <mat-radio-button value="6">UNAM Matutino Grupo 3</mat-radio-button>
                    <br>
                </mat-radio-group>



                <button mat-button matStepperPrevious>Back</button>
                <button  (click)="getQR()"   mat-button matStepperNext >Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Generación QR</ng-template>
            <p>¡Listo , ya eres alumno!</p>
            <span> Este es tu código QR único y personal para que tomes asistencia en tus clases</span>
            <ngx-qrcode [value]='textoParaQR'></ngx-qrcode>
            <br>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>

    </mat-stepper>

</mat-dialog-content>

