<button mat-button [matMenuTriggerFor]="menu" [routerLink]="['/dashboard']"><mat-icon>home</mat-icon> Inicio</button>
<button mat-button [matMenuTriggerFor]="menu">Menú</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/alumnos']">Alumnos</button>
  <!-- <button mat-menu-item>Reportes</button> -->
  <button mat-menu-item>Pagos</button>
</mat-menu>

<!-- class="btnCamera" -->
<div class="btnCamera">
        <button (click)="activarCamara()" [ngStyle]="{'font-size': '24px', 'padding': '14px'}">
                <mat-icon>photo_camera</mat-icon>
                <mat-label> Capturar Asistencia</mat-label>
        </button>        
</div>

<ng-container *ngIf="activar_camara">
        <div style="margin: auto; max-width: 600px; padding: 1rem;">
                <h1 class="btnCamera">Escanee el codigo QR del Alumno</h1>
                
                <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
        
                <mat-form-field>
                        <mat-label>
                                Datos Alumno
                        </mat-label>
                </mat-form-field>
        </div>
</ng-container>



